<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}

<section class="banner bg-purple text-white">
  <div class="container text-center">
    <h1 class="a1">ABOUT US  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h1>
    <br><br><br>
  </div>
</section>

<h2 class="a5">We are students of DA-IICT, and we have worked on this project on <br>The PageRank Algorithm , as a part of our Discrete Maths(SC205) Course.
  <br><br>The Project is Assigned by :  </h2><h2 id="a6">Prof. Manish Gupta</h2> <br>
<h2 class="a5">TEAM</h2>
<div align="center" class="container">

  <button>
      Kaival Mehta <br>
      Student Id: 202201009
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>
  <button>
    Nishil Patel <br>
    Student Id: 202201166
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>
  <button>
    Venil Vekariya <br>
    Student Id: 202201078
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>

  <button>
    Rishi Patel <br>
    Student Id: 202201037
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>
  <button>
    Jainil Patel<br>
    Student Id: 202201030
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>
  <button>
    Denil Antala <br>
    Student Id: 202201090
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>

  <button>
      Aryansinh Shaurya <br>
      Student Id:202201075
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
      <span class="fourth"></span>
  </button>
  </div>


{% endblock %}
