<!DOCTYPE html>

{% extends "basic_app/base.html" %}
{% block body_block %}

<section class="banner bg-purple text-white">
  <div class="container text-center">
    <h1 class="a1">UNDERSTANDING &nbsp&nbsp&nbsp&nbsp&nbsp</h1>
    <h1 class ="a1">THE &nbsp&nbsp&nbsp&nbsp&nbsp</h1>
    <h1 class="a2">PAGERANK ALGORITHM &nbsp&nbsp&nbsp&nbsp&nbsp</h1>
  </div>
</section>
<br>
<!-- Other sections and content here -->
<div class="container">

<h1 class='a3'>Ever wondered how the search results are ranked?</h1>
<br>
<h1 class="a3">The logic and maths behind it is given by the PageRank Algorithm</h1>
<br><img src="static/img6.jpg" alt="">
<br><h2 class='a3'>The PageRank Algorithm was founded by Larry Page and Sergey Brin, the founders of Google, as part of their research at Stanford University.
    <br>Google used this algorithm for ranking the webpages till 2019. PageRank Algorithm is known to be very efficient and can be<br>applied at
  many places for ranking and optimisation.</h2>
  <br>
  <h2 class='a3'>In this project, we have reviewed and studied the PageRank Algorithm and implied the algorithm to solve a <br>
  real world problem-Airplane Route Optimization. Scroll Up and Tap the icon in the top left corner to navigate through <br>
  the Project Report, Project Presentation and a brief demonstration of the algorithm.
</h2>
<br> <br> <br>
<h4 class="a3">We have created this websie with HTML,CSS,JavaScript and Bootstrap in Frontend and Django in Backend.</h4>

</div>
{% endblock %}
